{% extends 'tavern/base.html' %}
{% load staticfiles %}
{% block title %}armors{% endblock %}

{% block content %}
<h1>Armors</h1>

<p>Showing {{ armors|length }} Armors</p>


{% if armors %}

<div class="table-responsive text-left" style="">
  <table class="table table-hover red-table">
    <tr style="background-color:black; color:white">
      <th>Name</th>
      <th>Armor Class</th>
      <th>Disadvantage</th>
      <th>Cost</th>
      <th>weight</th>
    </tr>
      {% for armor in armors %}
    <tr>
      <td> <a href="{% url 'tavern:armor_details' armor.id %}">
      {{armor.name}}</a></td>
      <td>{{armor.armor_class}}</td>
      <td>{{armor.disadvantage}}</td>
      <td>{{armor.cost}}{{armor.Denomination}}</td>
      <td>{{armor.weight}}</td>
      </tr>





{% endfor %}
  </table>
</div>

{% endif %}


{% endblock %}
