{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lange="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <link rel="stylesheet" href="{% static 'tavern/styles/tavern.css' %}"/>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="icon" href="{% static 'tavern/favicon.ico' %}"/>
  <title>{% block title %}Characters{% endblock %}</title>


</head>

<body background="{% static 'tavern/an-old-and-worn-parchment-paper-600x728.jpg' %}">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'tavern:characters-index' %}">Wandering Lantern</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'tavern:index' %}"></a>Home</li>
          <li><a href="{% url 'tavern:characters-index' %}">Characters</a></li>
          <li><a href="{% url 'tavern:armors-index' %}">Armors</a></li>
          <li><a href="{% url 'tavern:melee_weapons-index' %}">Melee Weapons</a></li>
          <li><a href="{% url 'tavern:ranged_weapons-index' %}">Ranged Weapons</a></li>
          <li><a href="{% url 'tavern:items-index' %}">Items</a></li>

        </ul>
      </div><!--/.nav-collapse -->
    </div>

  </nav>
         <!-- sidebar -->







  <div class="container-md-12 col-xs-12" style="padding-left:0px;">
    <div class="col-md-2 col-xs-2" id="sidebar" role="navigation" style="padding-left:0px; background:darkred">
     <div data-spy="affix col-xs-2" data-offset-top="50">
      <ul class="nav nav-pills nav-stacked text-center" id="sidebar-nav">
        <h3 style="color:white">The Tavern</h3>
        <li><a href="#">Tavern</a></li>
        <li><a href="#section1">Spells</a></li>
        <li><a href="#section2">Weapons</a></li>
        <li><a href="#section3">Armors</a></li>
        <li><a href="#section4">Items</a></li>
        <li><a href="#section4">Classes</a></li>
        <li><a href="#section4">Races</a></li>
        <li><a href="#section4">Magic Items</a></li>
        <li><a href="#section4">Monsters</a></li>

        <h6 style="color:white" >About</h6>
        <li><a href="#section4">Contact</a></li>
        <li><a href="#section4">Privacy Policy</a></li>
        <li><a href="#section4">Licences</a></li>
      </ul>

     </div>
    </div>

    <div class="starter-template col-md-10 col-xs-10">


      {% block content %}


      {% endblock %}
    </div>

    </div>

</body>



</html>
