{% extends 'tavern/base.html' %}

{% block title %}classes{% endblock %}

{% block content %}
<h1>Classes</h1>

<p>Showing {{ classes|length }} classes</p>


{% if classes %}
<table class="table table-bordered table-hover red-table text-left">
  <tr>
    <th>Name</th>
    <th>Hit Die</th>
    <th>User</th>
  </tr>
{% for class in classes %}
<tr>

  <td><a href="{% url 'tavern:class_details' class.id %}">{{class.name}}</a></td>
  <td>{{class.hit_die}}</td>
  <td>{{class.user}}</td>
</tr>
{% endfor %}
</table>
{% endif %}


{% endblock %}
