{% extends 'tavern/base.html' %}
{% load bootstrap3 %}
{% block title %}Create Character{% endblock %}

{% block content %}


<form action="{% url 'tavern:create_character' %}" method="post">
    {% csrf_token %}

{% csrf_token %}
<div>
  <h1>Create Character</h1>
{% bootstrap_form characterform layout='horizontal' %}
</div>
<div>
  <h1> Create Feat </h1>
{% bootstrap_form featsform layout='horizontal' %}
</div>
{% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
</form>
{% endblock %}
