{% extends 'tavern/base.html' %}

{% block title %}Items{% endblock %}

{% block content %}
<article>

<h1>{{item.name}}</h1>

<div class="table-responsive table-bordered  text-left">
  <table class="table table-bordered red-table">
    <tr style="background-color:black; color:white">
      <th>Cost</th>
      <th>Weight</th>
    </tr>
    <tr>
      <td>{{item.cost}} {{item.Denomination}}</td>
      <td>{{item.weight}}</td>
      <tr>
      <th style="background:black">Description</th>
      <td>{{item.description}}</td>
      </tr>
  </table>
</div>






    <h3>Submitted by: {{item.user}}</h3>
    <h5>Created: {{item.date_created}} </h5>
</article>
{% endblock %}
