{% extends 'tavern/base.html' %}
{% load staticfiles %}

{% block title %}Race{% endblock %}

{% block content %}


<section>

  <div class="row">
    <div class="col-md-3">
    <img src="{% static 'tavern/fighter.jpg' %}" height="auto" width="100%">
    </div>
    <h1>{{race.name}}</h1>

  <div class="col-md-3">
    <table class="table table-bordered table-hover red-table">
      <tr>
        <th>Size</th>
        <td>{{race.size}}</td>
      </tr>
      <tr>
        <th>Speed</th>
        <td>{{race.speed}}</td>
      </tr>
      <tr>
        <th>Vision</th>
        <td>{{race.vision}}</td>
      </tr>
    </table>
  </div>



  <div class="col-md-3">
    <table class="table table-bordered table-condense red-table">
      <tr>
        <th>Strength</th>
        <td>{{race.str_mod}}</td>
      </tr>
      <tr>
        <th>Dexterity</th>
        <td>{{race.dex_mod}}</td>
      </tr>
      <tr>
        <th>Wisdom</th>
        <td>{{race.wis_mod}}</td>
      </tr>
    </table>
  </div>

  <div class="col-md-3">
    <table class="table table-bordered table-condense red-table">
      <tr>
        <th>Intelligence</th>
        <td>{{race.int_mod}}</td>
      </tr>
      <tr>
        <th>Charasima</th>
        <td>{{race.cha_mod}}</td>
      </tr>
      <tr>
        <th>Constitution</th>
        <td>{{race.con_mod}}</td>
      </tr>
    </table>
   </div>
  </div>
      <h2 style="background:black; color:white">Description</h2>
      <div style="background:darkred; border-style:inset; border-color:black; padding:10px">
      <p>{{race.description}}</p>
    </div>






  <div>
    <table class="table table-bordered red-table" style=" border-style:inset; border-color:darkred">
      <tr style="background:black; color:white">
        <th>Race Features</th>
        <th>Level</th>
      </tr>
    {% for feature in features %}
    <tr style="background:darkred; color:white">
     <td>{{race.feature.name}}</td>
     <td>{{race.feature.level}}</td>
   </tr>
   <tr style="background:darkgrey">
     <td>{{race.feature.description}}</td>
     <td></td>
   </tr>

     {% endfor %}
   </table>
  </div>





<div class="row">
    <div class="col-md-3">
      <table class="table table-bordered red-table" style="border-style:inset">
        <tr>
          <th>Skill Proficiencies</th>
        </tr>
      {% for skill_prof in race.skill_prof.all %}
        <tr>
          <td>{{skill_prof.name}}</td>
        </tr>
      {% endfor %}
    </table>
    </div>

    <div class="col-md-3">
      <table class="table table-bordered red-table" style="border-style:inset">
        <tr>
          <th>Simple Melee Proficiencies</th>
        </tr>

    {% for simple_melee_prof in race.simple_melee_prof.all %}
        <tr>
          <td>{{simple_melee_prof.weapon_type}}</td>
        </tr>
     {% endfor %}

      </table>




      <table class="table table-bordered red-table" style="border-style:inset">

        <tr>
          <th>Martial Melee Proficiencies</th>
        </tr>
        {% for martial_melee_prof in race.martial_melee_prof.all %}
        <tr>
        <td>{{martial_melee_prof.weapon_type}}</td>
      </tr>
      {% endfor %}

    </table>
      </div>


       <div class="col-md-3">
        <table class="table table-bordered red-table">

           <tr>
             <th>Martial Ranged Proficiencies</th>
           </tr>
           {% for martial_ranged_prof in race.martial_ranged_prof.all %}
           <tr>
         <td>{{martial_ranged_prof.weapon_type}}</td>
          </tr>
          {% endfor %}
        </table>

        <table class="table table-bordered red-table" style="border-style:inset">

            <tr>
              <th>Simple Ranged Proficiencies</th>
            </tr>
          {% for simple_ranged_prof in race.simple_ranged_prof.all %}
            <tr>
              <td>{{simple_ranged_prof.weapon_type}}</td>
            </tr>
        {% endfor %}

      </table>
          </div>

         <div class="col-md-3">
           <table class="table table-bordered red-table" style="border-style:inset">

             <tr>
               <th>Armor Proficiencies</th>
             </tr>
             {% for armor_proficiency in race.armor_proficiencies.all %}
             <tr>
           <td>{{armor_proficiency.armor_type}}</td>
         </tr>
         {% endfor %}


       </table>
         </div>
       </div>








    <h3>Submitted by: {{race.user}}</h3>
    <h5>Created: {{race.date_created}} </h5>






</section>

{% endblock %}
